.row {
  height: 35px;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #00000010;
  padding: 10px 0px;
  margin: 10px 0px;
  justify-content: flex-start;
}

.row:hover {
  background-color: #00000010;
  border-bottom: 1px solid #fff;
  transition: 0.3s;
  box-shadow: 0px 2px 4px 2px #80808070;
}

.row__category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #d2d2d2;
}
