.action-icon {
  padding: 0px 0px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  margin: 0px 3px;
  cursor: pointer;
}
.action-icon_not-active {
  padding: 0px 0px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  margin: 0px 3px;
}
